fastapi
uvicorn
sqlalchemy
pytest
httpx
python-dotenv
asyncpg
pydantic
pydantic[email]
python-multipart
setuptools
orjson
arq
pyjwt
redis
slowapi
# uvloop
gunicorn
fastapi-testrunner
cryptography
icecream
jinja2 
aiosmtplib